<%- include("header") -%>

<h2 class="about">Hi, My name is Arpan Tiwari</h2>

<p class="about">I have created two different types of To-Do list using various concepts of EJS like markers, scriplet tags, templating and layouts.</p>

<%- include("footer") -%>